<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Datum">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{immunization.lotNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Handelsname">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Handelsname}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Chargennummer">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.Chargennummer}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Wirkstoffe">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.Wirkstoffe}} </td>
  </ng-container>

  <ng-container matColumnDef="Arztinformation">
    <th mat-header-cell *matHeaderCellDef> Arztinformation </th>
    <td mat-cell *matCellDef="let element"> {{element.Arztinformation}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

