<script>
    setheight:function() {
    var div = $('#overview-frame');
    var width = div.width();
    div.css('height', width);
};
  </script>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="outer_frame">
  <div class="arrows">
    <a [routerLink] = "prevLink">
     <button class="pageSelect" [disabled]="prevLink==''"><</button>
    </a>
    <a [routerLink] = "nextLink">
     <button class="pageSelect" [disabled]="nextLink==''"> > </button>
    </a>
  </div>
  <div id="vaccination_frame">
    <div class="main_frame">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
