<div class="mainFrame">
  <div class="infoText">
    Bescheinigung über Impfungen gegen: <br>
    Handelsname und Chargennummer des Impfstoffes in die entsprechende Spalte <br>
    eingetragen bzw. Vignette einkleben <br>
  </div>
  <table class="customTable">
    <thead>
    <tr>
      <th>Datum</th>
      <th colspan="3">Handelsname und Chargennummer des Impfstoffes</th>
      <th>Wirkstoffe</th>
      <th>Arztinformationen</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Row 1, Cell 1</td>
      <td>Row 1, Cell 2</td>
      <td>Row 1, Cell 3</td>
      <td>Row 1, Cell 4</td>
      <td>Row 1, Cell 5</td>
      <td>Row 1, Cell 6</td>
    </tr>

    </tbody>
  </table>
</div>
