<div class ="infoText">
  <b>Serum-Injektion</b> Heterologe Sera (z.B. vom Pferd)
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="customTable">

    <ng-container matColumnDef="Datum">
      <th mat-header-cell *matHeaderCellDef>Datum </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="Typ">
      <th mat-header-cell *matHeaderCellDef> Typ </th>
      <td mat-cell *matCellDef="let element"> {{element.typ}} </td>
    </ng-container>

    <ng-container matColumnDef="Chargennummer">
      <th mat-header-cell *matHeaderCellDef>Chargen-Nr. </th>
      <td mat-cell *matCellDef="let element"> {{element.lotNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="Dosis">
      <th mat-header-cell *matHeaderCellDef> E/ml'<br> Dosis</th>
      <td mat-cell *matCellDef="let element"> {{element.dose}} {{element.unit}} </td>
    </ng-container>

    <ng-container matColumnDef="Arztinformation">
      <th mat-header-cell *matHeaderCellDef> Unterschrift und Stempel des Arztes </th>
      <td mat-cell *matCellDef="let element"> {{practitioner.name[0].prefix[0]}} {{practitioner.name[0].given[0]}} {{practitioner.name[0].family}} <br> {{organization.name}}<br>
        {{organization.address[0].line[0]}} <br>
        {{organization.address[0].postalCode}} {{organization.address[0].city}}, {{organization.address[0].country}}<br>
        {{organization.telecom[0].value}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
<div class="infoText">
  * E = Einheit
</div>
<div>
  <b>Ärztliche Vermerke über medizinische Risikofaktoren bei Impfungen </b><br>
  (Zutreffendes ankreuzen und erläutern)
</div>
<table>
  <tr>
    <td>1.</td><td>Bluter (Haemophilie)</td> <td><mat-checkbox [ngModel]="haem" ></mat-checkbox></td>
    <td>6.</td><td>Immundefekt/-supression</td> <td><mat-checkbox [ngModel]="suppress" ></mat-checkbox></td>
  </tr>
  <tr>
    <td>2.</td><td>Diabetes</td> <td><mat-checkbox [ngModel]="diabetes"></mat-checkbox></td>
    <td>7.</td><td>Allergien/Unverträglichkeiten</td> <td><mat-checkbox [ngModel]="allergy"></mat-checkbox></td>
  </tr>
  <tr>
    <td>3.</td><td>Dialysebehandlung</td> <td><mat-checkbox [ngModel]="dialysis"></mat-checkbox></td>
    <td>8.</td><td>Außergewöhntliche Impfreatkionen</td> <td><mat-checkbox [ngModel]="immu"></mat-checkbox></td>
  </tr>
  <tr>
    <td>4.</td><td>Krämpfe, Nervenleiden</td> <td><mat-checkbox [ngModel]="spasm" ></mat-checkbox></td>
    <td>9.</td><td>Andere medizinische Risikofaktoren</td> <td><mat-checkbox></mat-checkbox></td>
  </tr>
  <tr>
    <td>5.</td><td>Transplantation</td> <td><mat-checkbox [ngModel]="transplant"></mat-checkbox></td>
    <td></td><td></td> <td></td>
  </tr>

</table>

<div class="infoText">
  ____________________________________________________________________________<br>
  ____________________________________________________________________________<br>
</div>
<div class="infoText">
  <b>Blutgruppe und Rh-Faktor</b>

    <table mat-table [dataSource]="dataSourceObservation" class="customTable">

      <ng-container matColumnDef="AB0">
        <th mat-header-cell *matHeaderCellDef>AB0</th>
        <td mat-cell *matCellDef="let element">{{element.display}}</td>
      </ng-container>
      <ng-container matColumnDef="RH">
        <th mat-header-cell *matHeaderCellDef> Rh-pos(D+) / Rh-neg(D-)</th>
        <td mat-cell *matCellDef="let element">{{element.code}}</td>
      </ng-container>

    <tr><td>AB0</td><td>Rh-pos(D+) / Rh-neg(D-)</td></tr>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayRH1"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplayRH1;"></tr>
  </table>
  <div class="infoText">
    Rh-positiv bzw Rh-negativ wörtlich eintragen
  </div>
    <table mat-table [dataSource]="dataSourceObservation" class="customTable">
      <ng-container matColumnDef="RH">
        <th mat-header-cell *matHeaderCellDef>Rh-Formel</th>
        <td mat-cell *matCellDef="let element">{{element.display}}</td>
      </ng-container>
      <ng-container matColumnDef="Antibody">
        <th mat-header-cell *matHeaderCellDef> Antikörper</th>
        <td mat-cell *matCellDef="let element">{{element.code}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayRH2"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplayRH2;"></tr>
  </table>
    <table mat-table [dataSource]="dataSourceObservation" class="customTable">
      <ng-container matColumnDef="Arztinformation">
        <th mat-header-cell *matHeaderCellDef>Datum/Unterschrift und Stempel des Arztes:</th>

        <td mat-cell *matCellDef="let element">{{element.pnameprefix}} {{element.pnamefiven}} {{element.pnamefamily}} <br>
          {{element.oname}} {{element.ostreet}} {{element.oplz}} {{element.ocity}} {{element.ocountry}} <br>
          {{element.otel}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayRH3"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplayRH3;"></tr>
    </table>

