<div class="infoText">
  Bescheinigung über <b>Tuberkulose-Schutzimpfungen(BCG)</b>
</div>
<table mat-table [dataSource]="dataSource" class="customTable">

  <ng-container matColumnDef="Datum">
    <th mat-header-cell *matHeaderCellDef>Datum </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="Impfstoff">
    <th mat-header-cell *matHeaderCellDef> Name des Impfstoffes</th>
    <td mat-cell *matCellDef="let element"> {{element.Handelsname}} </td>
  </ng-container>

  <ng-container matColumnDef="Chargennummer">
    <th mat-header-cell *matHeaderCellDef> Chargen-Nr.</th>
    <td mat-cell *matCellDef="let element"> {{element.Handelsname}} </td>
  </ng-container>

  <ng-container matColumnDef="Arztinformation">
    <th mat-header-cell *matHeaderCellDef> Unterschrift u. Stempel des Arztes</th>
    <td mat-cell *matCellDef="let element"> {{element.Wirkstoffe}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<div class="infoText">
Ergebnis von <b>Tuberkulinproben</b>
</div>
<table mat-table [dataSource]="dataSource" class="customTable">

  <ng-container matColumnDef="Datum">
    <th mat-header-cell *matHeaderCellDef>Datum </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="Probe">
    <th mat-header-cell *matHeaderCellDef> Probe* und ggf. Konzentration</th>
    <td mat-cell *matCellDef="let element"> {{element.Handelsname}} </td>
  </ng-container>

  <ng-container matColumnDef="Reaktion">
    <th mat-header-cell *matHeaderCellDef> Reaktion**</th>
    <td mat-cell *matCellDef="let element"> {{element.Handelsname}} </td>
  </ng-container>

  <ng-container matColumnDef="Arztinformation">
    <th mat-header-cell *matHeaderCellDef> Unterschrift und Stempel des Arztes</th>
    <td mat-cell *matCellDef="let element"> {{element.Wirkstoffe}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay2;"></tr>
</table>
<div class="infoText">
  * S = Stempeltest, I = Intrakutantest <br>
  ** Befund wörtlich eintragen (positiv bzw. negativ)
</div>
