/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
div {padding-top:15px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table.customTable {
  width: 100%;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
   margin-top:15px;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
  background-color: #f9d05a;
  text-align:left;

}


.mat-header-cell{
font-size:100%;}
mat-table {
 display:block
}
mat-header-row {
 min-height:5px
}
mat-footer-row,
mat-row {
 min-height:5px
}
mat-footer-row,
mat-header-row,
mat-row {
 display:flex;
 border-width:0;
 border-bottom-width:1px;
 border-style:solid;
 align-items:left;
 box-sizing:border-box
}
mat-footer-row::after,
mat-header-row::after,
mat-row::after {
 display:inline-block;
 min-height:inherit;
 content:''
}
mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
 padding-left:0px
}
[dir=rtl] mat-cell:first-of-type,
[dir=rtl] mat-footer-cell:first-of-type,
[dir=rtl] mat-header-cell:first-of-type {
 padding-left:0;
 padding-right:0px
}
mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
 padding-right:0px
}
[dir=rtl] mat-cell:last-of-type,
[dir=rtl] mat-footer-cell:last-of-type,
[dir=rtl] mat-header-cell:last-of-type {
 padding-right:0;
 padding-left:0px
}
mat-cell,
mat-footer-cell,
mat-header-cell {
 flex:1;
 display:flex;
 align-items:center;
 overflow:hidden;
 word-wrap:break-word;
 min-height:inherit
}
table.mat-table {
 border-spacing:0
}
tr.mat-header-row {
 height:56px
}
tr.mat-footer-row,
tr.mat-row {
 height:48px
}
th.mat-header-cell {
 text-align:left
}
[dir=rtl] th.mat-header-cell {
 text-align:left;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
 padding:0;
 border-bottom-width:1px;
 border-bottom-style:solid
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
 padding-left:0px
}
[dir=rtl] td.mat-cell:first-of-type,
[dir=rtl] td.mat-footer-cell:first-of-type,
[dir=rtl] th.mat-header-cell:first-of-type {
 padding-left:0;
 padding-right:0px
}
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
 padding-right:0px
}
[dir=rtl] td.mat-cell:last-of-type,
[dir=rtl] td.mat-footer-cell:last-of-type,
[dir=rtl] th.mat-header-cell:last-of-type {
 padding-right:0;
 padding-left:0px
}


@media (min-width:800px){
  #vaccination_frame{
    width:750px;
    height: 889px;
    font-size:100%;
  }
  .example-container{
    max-height:800px;
  }
}

@media (max-width:799px){
  #vaccination_frame{
    width:500px;
    height:684px;
    font-size:80%;
   }
     .example-container{
       max-height:600px;
     }

}

@media (max-width:600px){
  #vaccination_frame{
    width:300px;
    height:421px;
    font-size:45%;
   }
   .example-container{
     max-height:400px;
   }

}
@media (max-width:400px){
  #vaccination_frame{
    width:200px;
    height:274px;
    font-size:20%;
   }
   .example-container{
     height:200px;
     font-size:80%;
   }

}
.example-container {
  overflow: auto;
  padding-top:0px;
}
.main,.outer_frame{
padding-top:0px;}
